#detail {
    padding: 5px;
}

#detail>div>h2 {
    margin: 10px 0 5px 0;
    font-size: medium;
    vertical-align: bottom;
    display: flex;
}

#detail>div>h2>a {
    display: inline-block;
    width: 21px;
    height: 21px;
    mask: url("../../../images/external-link.svg") no-repeat center;
    background-color: #0000FF;
    margin-left: 10px;
    border-radius: 50%;
}

#detail>div>h2>a:visited {
    background-color: #800080;
}

#detail>div>h2>a:active {
    background-color: #FF0000;
}

ul.episode-info {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5px;
}

ul.episode-info li {
    padding: 0px;
}

ul.episode-info li:nth-child(3) {
    grid-column: 1/3;
}

ul.episode-info li>span {
    display: block
}

ul.episode-info li>span:first-child {
    font-size: smaller;
    font-variant: small-caps;
}

ul.episode-info li>span:nth-child(2) {
    font-weight: bold;
}







a.view-source {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.5;
    margin-top: 10px;
    display: inline-block;
}

a.view-source>span:nth-child(2) {
    display: none;
}

a.view-source:hover>span:nth-child(1) {
    display: none;
}

a.view-source:hover>span:nth-child(2) {
    display: inline;
}

#logo {
    background: url("../../../images/icon.svg") no-repeat center;
    opacity: 0.2;
    width: 100%;
    height: 100%;
  }