body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 600px;
  height: 600px;
}

#header {
  display: grid;
}

#content {
  display: grid;
  grid-template-columns: 200px calc(100% - 200px);
  grid-template-rows: 71px calc(100% - 71px);
  height: 100%;
}

#loading {
  display: block;
  height: 100%;
}

#loading>.spinner {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
}

#loading>.spinner span {
  width: 25px;
  height: 25px;
  border-width: 3px;
}

.spinner {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  align-self: flex-start;
}

.spinner span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  /* animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; */
  animation: spinner 1.2s linear infinite;
  border-color: #000 black transparent transparent;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#patient-info {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  padding: 5px;
  background-color: lightgray;
}

#patient-info>div {}

#patient-info>div:nth-child(1) {
  grid-column: 1/3;
  font-weight: bold;
}

#patient-info>div:nth-child(6) {
  grid-column: 1/3;
}

#list-container {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  /* overflow-y: auto;
    overflow-x: hidden; */
  border-right: solid 1px lightgray;
}

#filter {
  padding: 5px;
  display: flex;
  background-color: white;
  display: none;
}

#filter input {
  border: none;
  outline: none;
  background-color: transparent;
}

#filter input:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

#list {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: lightgray;
}

#detail {
  /* width: calc(100% - 200px); */
  overflow-y: auto;
  overflow-x: hidden;
}



#list>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#list>ul>li:nth-child(odd) {
  background-color: silver;
}

#list>ul>li:nth-child(even) {
  background-color: lightgray;
}

#list>ul>li>div:first-child {
  display: none;
}

#list>ul>li>div>ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#list>ul>li>div>ul>li,
#list>ul>li.load-more,
#list>ul>li.failed-load {
  padding: 2px;
  cursor: pointer;
}

#list>ul>li.load-more {
  text-align: center;
}

#list>ul>li.failed-load {
  color: red;
}

#list>ul>li>div>ul>li:hover,
#list>ul>li.load-more:hover {
  background-color: grey;
}

#list>ul>li>div>ul>li.selected {
  background-color: #f38181;
}

#list>ul>li>div>ul>li>span {
  display: block;
}

#list>ul>li>div>ul>li>span:nth-child(1) {
  display: none;
}

#list>ul>li>div>ul>li>span:nth-child(2) {
  font-size: small;
}

#list>ul>li>div>ul>li>span:nth-child(3) {
  font-weight: bold;
}

#list>ul>li>div>ul>li>span:nth-child(3)::before {
  content: "Dr. ";
}

#detail {
  padding: 5px;
}

#detail>div>h2 {
  margin: 10px 0 5px 0;
  font-size: medium;
  vertical-align: bottom;
  display: flex;
}

#detail>div>h2>a {
  display: inline-block;
  width: 21px;
  height: 21px;
  /* mask: url("images/external-link.svg") no-repeat center; */
  background-color: #0000FF;
  margin-left: 10px;
  border-radius: 50%;
}

#detail>div>h2>a:visited {
  background-color: #800080;
}

#detail>div>h2>a:active {
  background-color: #FF0000;
}

ul.episode-info {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px;
}

ul.episode-info li {
  padding: 0px;
}

ul.episode-info li:nth-child(3) {
  grid-column: 1/3;
}

ul.episode-info li>span {
  display: block
}

ul.episode-info li>span:first-child {
  font-size: smaller;
  font-variant: small-caps;
}

ul.episode-info li>span:nth-child(2) {
  font-weight: bold;
}

ul.notes-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 10px;
}

ul.notes-list>li {
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
}

ul.notes-list>li>span {
  display: block;
}

ul.notes-list>li>span:first-child {
  font-size: smaller;
  font-variant: small-caps;
}

ul.notes-list>li>span:nth-child(2) {
  white-space: pre-wrao;
}

ul.diagnosis-list {
  list-style: none;
  padding: 0px;
}

ul.diagnosis-list>li {
  display: grid;
  grid-template-columns: 50px calc(100% - 50px);
  grid-gap: 0px;
  margin-bottom: 5px;
}

ul.diagnosis-list>li>span {}

ul.diagnosis-list>li>span:nth-child(1) {
  font-weight: bold;
}

ul.diagnosis-list>li>span:nth-child(3) {
  grid-column: 2/3;
  font-style: italic;
}

ul.prescription-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-gap: 10px;
}

ul.prescription-list>li {
  background-color: lightgray;
  border-radius: 5px;
  padding: 5px;
}

ul.prescription-list>li>div>span:nth-child(1) {
  font-size: smaller;
  font-variant: small-caps;
}

ul.prescription-list>li>div>span:nth-child(2) {
  font-weight: bold;
}

ul.prescription-list>li>ol {
  padding-left: 20px;
}

ul.prescription-list>li>ol>li>span.medicine-name {
  font-weight: bold;
}

a.view-source {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.5;
  margin-top: 10px;
  display: inline-block;
}

a.view-source>span:nth-child(2) {
  display: none;
}

a.view-source:hover>span:nth-child(1) {
  display: none;
}

a.view-source:hover>span:nth-child(2) {
  display: inline;
}