ul.prescriptions-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-gap: 10px;
}

ul.prescriptions-list>li {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}

ul.prescriptions-list>li>div>span:nth-child(1) {
    font-size: smaller;
    font-variant: small-caps;
}

ul.prescriptions-list>li>div>span:nth-child(2) {
    font-weight: bold;
}

ul.prescriptions-list>li>ol {
    padding-left: 20px;
}

ul.prescriptions-list>li>ol>li>span.medicine-name {
    font-weight: bold;
}